@import "__variables";

.timer-input-container {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: $secondary-background-color;
}

.timer-input {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 28px;

  p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.timer-input-text {
  margin: 5px;
  &.number{
    min-width: 35.61px;
    text-align: right;
  }
}

.timer-input-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-input-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-input-button {
  border-radius: 15%;
  border-width: 2px;
  width: 1.2em;
  height: 1.2em;
  margin: 0px 5px;
  font-size: 28px;
  text-align: center;
  padding: 0;
}

.timer-input-button:hover {
  background-color: lightgray;
}

.timer-input-button:active {
  opacity: 70%; 
}

.timers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 1em;
  border-width: 4px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.timer-controls-container {
  width: 100%;
  margin-top: 10px;
}

.timer-round {
  margin-top: 5px;
  align-self: center;
}

.timer-name {
  margin-bottom: 5px;
  align-self: center;
}

@font-face {
  font-family: 'Mono Digit';
  src: url('../fonts/AzeretMono-Regular.ttf');
}

@font-face {
  font-family: 'Mono Digit Bold';
  src: url('../fonts/AzeretMono-Bold.ttf');
}

@media screen and (max-width: 1400px) {
  .timer-text {
    font-family: Mono Digit Bold, monospace;
    font-size: 23vw;
    display: flex;
    align-self: center;
  }

  .timer-text-ms {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {
  .timer-text {
    font-family: Mono Digit, monospace;
    font-size: 300px;
    font-weight: 700;
    display: flex;
    align-self: center;
  }

  .timer-text-ms {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 5%;
  }
}

.timer-text-fullscreen {
  font-size: 25vw;
}

.timer-text-fullscreen-mil {
  font-size: 2vw;
}

[contenteditable] {
  outline: 0px solid transparent;
}