<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header', {navItem: 'home'}); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Listi af mótum</h1>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>