<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body class="container">

<header>
  <%- include('./partials/header', {navItem: 'login'}); %>
</header>

<main>
  <div class="jumbotron">
    <h3>Login using...</h1>
    <div class="google-btn">
      <a href="/auth/google">Google+</a>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>