<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header', {navItem: 'timer'}); %>
</header>

<main>
  <div class="jumbotron">
    <div class="timer-container">
        <div class="timer-find">
            <label for="inputTimerCode">Finna niðurteljara með kóða:</label>
            <input id="inputTimerCode" type="text" maxlength="4" minlength="4">
            <button>Leita</button>
        </div>
        <a href="/timer/create">Nýr niðurteljari</a>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>