.timer-input-container {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
}

.timer-input {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 28px;
}
.timer-input p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
}

.timer-input-text {
  margin: 5px;
}

.timer-input-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-input-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-input-button {
  border-radius: 15%;
  border-width: 2px;
  width: 1.2em;
  height: 1.2em;
  margin: 0px 5px;
  font-size: 28px;
  text-align: center;
  padding: 0;
}

.timer-input-button:hover {
  background-color: lightgray;
}

.timer-input-button:active {
  opacity: 70%;
}

.timers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-radius: 1em;
  border-width: 4px;
  width: 100%;
}

.timer-controls-container {
  width: 100%;
}

@font-face {
  font-family: "Mono Digit";
  src: url("../fonts/AzeretMono-Regular.ttf");
}
.timer-text {
  font-family: Mono Digit, monospace;
  font-size: 23vw;
  font-weight: 700;
  display: flex;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .timer.text {
    font-size: 80px;
    background-color: black;
  }
}